---
interface Props {
    action?: string;
    method?: "GET" | "POST";
}

const { action = "#", method = "POST" } = Astro.props;
---

<form action={action} method={method} class="space-y-6">
    <div>
        <label
            for="name"
            class="block text-xs uppercase tracking-widest text-current/50 mb-2"
            >Imie i Nazwisko</label
        >
        <input
            type="text"
            name="name"
            id="name"
            autocomplete="name"
            required
            class="w-full bg-transparent border-b border-current/20 focus:border-current outline-none py-2 transition-colors placeholder:text-current/20 text-current"
            placeholder="Jan Kowalski"
        />
    </div>
    <div>
        <label
            for="email"
            class="block text-xs uppercase tracking-widest text-current/50 mb-2"
            >Email Firmowy</label
        >
        <input
            type="email"
            name="email"
            id="email"
            autocomplete="email"
            required
            class="w-full bg-transparent border-b border-current/20 focus:border-current outline-none py-2 transition-colors placeholder:text-current/20 text-current"
            placeholder="jan@firma.pl"
        />
    </div>
    <div>
        <label
            for="message"
            class="block text-xs uppercase tracking-widest text-current/50 mb-2"
            >Wiadomosc</label
        >
        <textarea
            name="message"
            id="message"
            rows="4"
            required
            class="w-full bg-transparent border border-current/20 focus:border-current outline-none p-3 transition-colors placeholder:text-current/20 text-current resize-none"
            placeholder="Opisz krotko swoj projekt..."></textarea>
    </div>
    <div>
        <button
            type="button"
            class="bg-background text-foreground px-8 py-3 rounded-full font-medium hover:bg-background/80 transition w-full md:w-auto"
        >
            Rezerwuj spotkanie
        </button>
    </div>
</form>
